body {
    color:blackrgb(255, 255, 255);
    background: rgb(0, 0, 0);
    margin: Opx;
    font-family:  "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px; rgb(255, 255, 255)
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228)
}

.chamada {
    background:rgb(0, 0, 0) ;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
margin-right: 5%;
}

h1 {
    font-size: ;



